@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap');

/*dark & light modes*/

:root {
  --gray0: #E5E4DF;
  --gray1: rgb(214, 214, 214);
  --gray2: rgb(47, 47, 47);
  --gray3: #212324;
  --bg-opacity: 1;
}

[data-theme="light"] {
  --bg: var(--gray0);
  --text: var(--gray3);
  --cursor: var(--gray2);
  --bg2: var(--gray1);
}

[data-theme="dark"] {
  --bg: var(--gray3);
  --text: var(--gray0);
  --cursor: var(--gray1);
  --bg2: var(--gray2);
}

/*general styling*/

* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
  width: 100vw;
}

.app {
  padding-top: 1.5vh;
  background-color: var(--bg);
  font-family: 'Rethink Sans', sans-serif;
  transition: 0.3s;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--text);
}

#paragraph {
  font-weight: 200;
  font-size: 6vh;
  transition: 0.3s;
}

#underlined-element {
  text-decoration: underline;
  text-underline-offset: 1.2vh;
  transition: 0.3s;
  text-decoration-color: var(--cursor);
  cursor: pointer;
}

#underlined-element:hover {
  text-decoration-color: var(--text);
}

/*nav*/

nav {
  width: 70vw;
  height: 7vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  z-index: 998;
  backdrop-filter: blur(30px);
  border: solid 1px rgb(70, 70, 70, 0.5);
  padding: 0.5vh 1vw;

  li {
    display: inline-block;
    margin: 1vh 2vh 0vh 2vh;
    border: 2px solid transparent;
  }

  button {
    padding: 1vh 2vh 1vh 2vh;
    border-radius: 50px;
    font-family: inherit;
    font-weight: 900;
    font-size: 2vh;
    transition: 0.5s;
    background-color: transparent;
    color: var(--text);
    border: 2px solid transparent;
    cursor: pointer;
  }

  button:hover {
    color: var(--text);
    box-shadow: rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: white;
    border: solid 1px var(--gray2);
    cursor: pointer;
    color: #1A1917;
  }

  .mode {
    color: var(--text);
    cursor: pointer;
  }

  .mode:hover {
    background: transparent;
    border: none;
    color: var(--text);
    transform: scale(1.3);
    box-shadow: none;
  }
}


/*profile*/

#profile {
  margin: 10vh 15vw 0vh 15vw;
  padding-top: 1vh;
  color: var(--text);

  img {
    width: auto;
    height: 7vh;
    clip-path: circle();
    margin: 0vh 0.7vh -0.5vh 0.7vh;
    transition: 0.3s;
    z-index: 999;
  }

  span:hover .profile-image,
  .profile-image:hover {
    transform: scale(5);
    cursor: pointer;
    z-index: 1;
  }

  h1 {
    margin-top: 16vh;
  }

  .profile-contact{
    background-color: var(--text);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: large;
    margin: 2vh 0vw;
    font-family: inherit;
    padding: 10px 20px;
    color: var(--bg);
    a{
      color: var(--bg);
    }
  }

  .time {
    display: flex;
    justify-content: space-between;
    margin: 25vh 0vh 25vh 0vh;
    font-size: 1.2rem;
  }

  .arrow {
    color: var(--text);
  }

  button:hover{
    background-color: var(--cursor);
  }


}

/*projects*/

#projects {
  margin: 0vh 15vw 0vh 15vw;
  color: var(--text);

  h1 {
    margin-top: 4vh;
  }

  .project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vh;
    margin-top: 5vh;

    .card {
      display: flex;
      flex-direction: column;
      gap: 0vw;
      border: solid 1px var(--gray2);
      border-radius: 10px;
      transition: 0.5s;
      width: 30vw;
      height: auto;

      .container{
        height: 25vh;
        position: relative;
        img {
          opacity: 1;
          transition: .5s ease;
          backface-visibility: hidden;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          cursor: pointer;
          object-fit: cover;
          width: 30vw;
          height: 25vh;
        }
  
        .project-description{
          position: absolute;
          transition: .5s ease;
          opacity: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
          background-color: var(--bg);
          width: 100%;
          height: 100%;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          padding: 1px;
          p{
            padding: 15% 2%;
          }
        }
      }
      
      .container:hover .project-description {
        opacity: 0.9;
      }


      .projects-text {
        color: var(--text);
        background-color: var(--cursor);
        padding: 5px 20px;
        text-align: left;
        background-color: var(--bg2);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      h2 {
        font-size: 3vh;
        margin-top: 0px;
        margin-bottom: 0vh;
      }

      .year {
        font-size: 2vh;
      }
      button{
        margin: 0;
        background-color: rgb(159, 159, 159);
        padding: 2px 5px;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 1vw;
      }
    }

  }

  button {
    color: var(--text);
    text-align: center;
    margin: 7vh;
    left: 50%;
    border: none;
    background-color: transparent;
  }

  .btn {
    text-align: center;
  }
}

/*stacks*/

#stacks {
  margin: 7vh 15vw 10vh 15vw;
  color: var(--text);

  .icons {
    display: flex;
    flex-wrap: wrap;
  }

  .icon {
    text-align: center;
    font-size: 7.34vh;
    margin: 5.5vh 5.5vh 0vh 0vh;
  }

  h4 {
    font-size: 1.6vh;
  }
}

/*contact*/

#contact {
  margin: 15vh 15vw 7vh 15vw;
  color: var(--text);

  h3 {
    margin-bottom: 3vh;
  }

  #contact-icons {
    font-size: 2.5vh;
    display: flex;
    justify-content: flex-start;
    gap: 2vh;
    margin-top: 5vh;
    cursor: pointer;
  }
}

/*footer*/

.footer {
  color: var(--text);
  animation: section-load 0.7s ease-out;
  margin: 15vh 7vh 0vh 7vh;
  padding-bottom: 3vh;
  display: flex;
  justify-content: space-between;

  a {
    font-size: 2vh;
    cursor: pointer;
  }
}

.wave {
  animation-name: wave-animation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(10.0deg) }
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) } 
  100% { transform: rotate( 0.0deg) }
}