@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap');

/*dark & light modes*/

:root {
  --gray0: #E5E4DF;
  --gray1: rgb(188, 188, 188, 0.4);
  --gray2: rgba(82, 82, 82, 0.4);
  --gray3: #1A1917;
}

[data-theme="light"] {
  --bg: var(--gray0);
  --text: var(--gray3);
  --cursor: var(--gray2);
}

[data-theme="dark"] {
  --bg: var(--gray3);
  --text: var(--gray0);
  --cursor: var(--gray1);
  --gradient: var(--gray2);
}

/*general styling*/

* {
  margin: 0;
  padding: 0;
}

html,body{
  overflow-x: hidden;
}

.app {
  background-color: var(--bg);
  font-family: 'Rethink Sans', sans-serif;
  transition: 0.3s;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--text);
}

#paragraph {
  font-weight: 200;
  font-size: 6vh;
  transition: 0.3s;
}

#underlined-element {
  text-decoration: underline;
  text-underline-offset: 1.2vh;
  transition: 0.3s;
  text-decoration-color: var(--cursor);
  cursor: pointer;
}

#underlined-element:hover {
  text-decoration-color: var(--text);
}

/*nav*/

nav {
  padding-top: 5vh;
    justify-content: space-between;
    margin: 0vh 15vh 0vh 15vh;
    align-items: center;
    height: 17vh;
    li{
      display: inline-block;
      margin-right: 2vh;
    }
    button {
      padding: 2vh 2.5vh 2vh 2.5vh;
      border-radius: 50px;
      font-family: inherit;
      font-weight: 900;
      font-size: 2vh;
      transition: 0.5s;
      border: none;
      background-color: var(--text);
      color: var(--bg);
    }
    button:hover {
      color: var(--text);
      background-color: transparent;
      cursor: pointer;
      border: solid 1px var(--text);
    }
}


/*profile*/

#profile {
  margin: 7vh 15vh 0vh 15vh;
  color: var(--text);

  img {
    width: auto;
    height: 7vh;
    clip-path: circle();
    margin: 0vh 0.7vh -0.5vh 0.7vh;
    transition: 0.3s;
    z-index: 999;
  }

  span:hover .profile-image,
  .profile-image:hover {
    transform: scale(5);
    cursor: pointer;
    z-index: 1;
  }

  h1 {
    margin-top: 16vh;
  }

  .time {
    display: flex;
    justify-content: space-between;
    margin: 25vh 0vh 25vh 0vh;
    font-size: 1.2rem;
  }

  .arrow {
    color: var(--text);
  }


}

/*projects*/

#projects {
  margin: 0vh 15vh 0vh 15vh;
  color: var(--text);

  h1 {
    margin-top: 4vh;
  }

  .project-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vh;
    margin-top: 5vh;

    .card {
      img {
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
        transition: transform 0.3s ease;
        cursor: pointer;
        object-fit: cover;
      }

      .image-card {
        overflow: hidden;
        border-top-right-radius: 40px;
        border-top-left-radius: 40px;
        position: relative;
        z-index: 1;
      }

      img,
      .image-card {
        width: 52.5vh;
        height: 19.93vh;
      }

      img:hover {
        transform: scale(1.1);
      }

      .projects-text{
        background-color: rgb(212, 212, 212);
        color: var(--gray3);
        width: 52.5vh;
        text-align: center;
        .project-links{
          font-size: 30px;
          a{
            color: #1A1917;
            margin: 0px 10px 0px 10px; 
            cursor: pointer;
          }
        }
      }

      h2 {
        font-size: 3vh;
        margin-top: 0px;
        margin-bottom: 1vh;
      }

      .description-{
        position: relative;
        overflow: hidden;
        transition: max-height 0.5s ease;
      } 

      .year{
        text-align: left;
        padding: 1vh
      }
    }
  }
  button {
    color: white;
    text-align: center;
    margin: 7vh ;
    left: 50%;
    border: none;
    background-color: transparent;
  }
  .btn{     
    text-align: center;
  }
}

/*stacks*/

#stacks{
  margin: 7vh 15vh 10vh 15vh;
  color: var(--text);
  .icons{
    display: flex;
    flex-wrap: wrap;
  }
  .icon{
    text-align: center;
    font-size: 7.34vh;
    margin: 5.5vh 5.5vh 0vh 0vh;
  }
  h4{
    font-size: 1.6vh;
  }
}

/*contact*/

#contact{
  margin: 15vh 15vh 7vh 15vh;
  color: var(--text);
  h3{
    margin-bottom: 3vh;
  }
  #contact-icons {  
    font-size: 2.5vh;
    display: flex;
    justify-content: flex-start;
    gap: 2vh;
    margin-top: 5vh;
    cursor: pointer;
  }
}

/*footer*/

.footer {
  color: var(--text);
  animation: section-load 0.7s ease-out;
  margin: 15vh 7vh 0vh 7vh;
  padding-bottom: 3vh;
  display: flex;
  justify-content: space-between;
  a {
    font-size: 2vh;
    cursor: pointer;
  }
}


