@media (max-width: 1200px) {

    nav {
        margin: 0vh 5vh 0vh 10vh !important;
        width: 125vh !important;

        .mode {
            margin-left: 57vh !important;
        }
    }

    #paragraph {
        font-size: 40px !important;
    }

    #cursor {
        display: none;
    }

    .modal {
        width: 50vh !important;
        padding: 2vh 5vh;
        margin: 20vh 50vh;

        img {
            margin-left: 0vh !important;
            text-align: left;
            width: 50vh !important;
            height: auto;
            border-radius: 20px;
        }
    }

}

@media screen and (max-width:900px) {
    nav {
        margin: 0vh 5vh 0vh 10vh !important;
        width: 90vh !important;

        .mode {
            margin-left: 23vh !important;
        }
    }

    #profile {
        margin: 7vh 10vh 0vh 10vh !important;

        img {
            height: 5vh !important;
            margin-bottom: -10px !important;
        }
    }

    #projects {
        .card {
            width: 70vh;

            img {
                width: 32vh !important;
                height: 12vh !important;
            }
        }
        .modal{
            margin: 0vh !important;
        }
    }

    #stacks {
        margin: 7vh 10vh 10vh 10vh !important;
        overflow: hidden;
    }

    #contact {
        margin: 15vh 10vh 7vh 10vh !important;
    }
}

@media screen and (max-width:600px) {

    /*general styling*/

    #paragraph {
        font-size: 35px !important;
    }

    /*nav*/

    nav {
        margin: 0vh 5vh 0vh 5vh !important;
        height: 15px !important;
        width: 45vh !important;
        background-color: none !important;
        border: none !important;
        backdrop-filter: none !important;

        li{
            margin: 0 !important;
            padding: 0 !important;
        }

        a{
            display: none;
        }

        button.mode {
            font-size: 15px !important;
            margin-left: 0vh !important;
        }
    }


    /*profile*/

    #profile {
        margin: 7vh 5vh 0vh 5vh !important;

        img {
            width: auto;
            height: 6vh !important;
            margin-bottom: -15px !important;
        }

        span:hover .profile-image,
        .profile-image:hover {
            transform: scale(5);
            cursor: pointer;
            z-index: 1;
        }
    }

    /*projects*/

    #projects {
        margin: 0vh 5vh 0vh 5vh;

        h3 {
            text-align: center;
        }

        .project-cards {

            .card {
                flex-wrap: wrap;
                img,
                .image-card {
                    width: 26.25vh !important;
                    height: 10vh !important;
                }

                .projects-text {
                    color: var(--gray3);
                    width: 26.25vh !important;
                    text-align: center;
                }

                h2 {
                    font-size: 2.5vh !important;
                }

                .description {
                    display: none;
                }

                .year {
                    font-size: 1.5vh !important;
                }

                .card-button{
                    display: none;
                }
            }
        }

        button {
            margin: 5vh !important;
            font-size: 1.5vh !important;
        }
    }

    /*stacks*/

    #stacks {
        margin: 7vh 5vh 10vh 5vh !important;

        .icons {
            flex-wrap: wrap;
        }

        .icon {
            font-size: 7vh !important;
            margin: 5vh 5vh 0vh 0vh;
        }

    }

    /*contact*/

    #contact {
        margin: 15vh 5vh 7vh 5vh !important;

        h3 {
            margin-bottom: 4vh !important;
        }

    }

    /*footer*/

    .footer {

        margin: 15vh 5vh 0vh 5vh !important;


    }

}